/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #585957;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}

/* Header styles */
header {
    font-family: 'Courier New', Courier, monospace;
    background: #ecfaae;
    color: #d14ea3;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #454242;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

header nav ul li a:hover {
    background: #f48989;
    border-radius: 4px;
}

/* Section styles */
section {
    padding: 2rem 0;
    text-align: center;
}

#home {
    background: #f4f4f4;
}

#services .service {
    display: inline-block;
    width: 30%;
    margin: 1%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.3s;
}

#services .service:hover {
    transform: scale(1.05);
}

#services img {
    width: 350px;
    height: 250px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact input, #contact textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#contact button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

#contact button:hover {
    background: #575757;
}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
