* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    color: #222322;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    
}


header {
    font-family: 'Courier New', Courier, monospace;
    background: #ebe1ea;
    color: #d14ea3;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #454242;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

header nav ul li a:hover {
    background: #f48989;
    border-radius: 4px;
}


section {
    padding: 2rem 0;
    text-align: center;
}

#home {
    background: #f4f4f4;
}

#services .service {
    display: inline-block;
    width: 30%;
    margin: 1%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.3s;
    background-color: #f3dada;
    border-radius: 10px;
}

#services .service:hover {
    transform: scale(1.05);
}

#services img {
    width: 350px;
    height: 250px;
}
.btn {
    background-color: #007BFF; 
    color: white; 
    padding: 10px 20px;
    margin: 10px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer; 
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
